

h1 {
	margin: auto;
	text-align: center;
	float: none;
}

#introduction {
	width: 50%;
	margin: auto;
	float: none;
}

#gameCanvasDiv {
	margin: auto;
	text-align: center;
	float: none;
	padding-bottom: 5%;
}

#gameCanvas {
	border: solid;
	border-width: 1px;
	background: #eeeeff;
	margin: auto;
	outline-style: none
}

/* Adapt to small screens */
@media screen and (max-width: 480px) and (orientation: portrait) {
	#introduction {
		width: 100%;
}
